@model Jira.Views.Dto.TicketTableModel

@{
    ViewBag.Title = "이슈 상세 내용";
}

<script>
    $(document).ready(function () {
        // Active 개발티켓 Tab
        $("#issueTableTab").addClass("active");
        // pull down components for alignment
        $('.pull-down').each(function () {
            $(this).css('margin-top', $(this).parent().height() - $(this).height())
        });
    });
</script>

<style>
    .well {
        padding-top: 0;
    }
    hr {
        margin-top: 0;
    }
</style>

<div class="well">
    <div class="row">
        <div class="col-sm-2 pull-down">
            <h2><span class="label label-info">JIRA#@Model.Id.ToString("D4")</span></h2>
        </div>
        <div class="col-sm-9 pull-down">
            <h3>@Html.DisplayFor(model => model.Subject)</h3>
        </div>
    </div>
    <hr/>
    <div id="split-button-dropdown">
        <div class="btn-group">
            <button type="button" class="btn btn-default">편집</button>
        </div><!-- /btn-group -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">의견남기기</button>
        </div><!-- /btn-group -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">담당자 변경</button>
        </div><!-- /btn-group -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">상태 변경</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Open</a></li>
                <li><a href="#">Resolved</a></li>
                <li><a href="#">Fixed</a></li>
                <li><a href="#">Closed</a></li>
                <li class="divider"></li>
                <li><a href="#">Won't fix</a></li>
            </ul>
        </div><!-- /btn-group -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">삭제</button>
        </div><!-- /btn-group -->
    </div>
</div>

<hr />

<div class="container-fluid">
    <section id="mainSection" class="col-sm-7">
        <h4>
            <span class="label label-default">상세 내용</span>&nbsp;
            <i class="fa fa-eye fa-lg"></i>
        </h4>
        <table class="table table-striped">
            <tr>
                <td width="30%">상태</td>
                <td width="70%">
                    @if (Model.Status == "Open")
                    {
                        <h4><span class="label label-default">Open</span></h4>
                    }
                </td>

            </tr>
            <tr>
                <td width="30%">우선순위</td>
                <td width="70%">
                    @Html.DisplayFor(model => model.Priority)&nbsp;
                    @if (Model.Priority == "Major")
                    {
                        <i class="fa fa-arrow-up fa-lg"></i>
                    }
                </td>
            </tr>
            <tr>
                <td width="30%">Fix Ver</td>
                <td width="70%">@Html.DisplayFor(model => model.FixVersion)</td>
            </tr>
            <tr>
                <td width="30%">설명</td>
                <td width="70%">@Html.DisplayFor(model => model.Description)</td>
            </tr>
        </table>
    </section>

    <section class="col-sm-5">
        <h4>
            <span class="label label-default">사람들</span>&nbsp;
            <i class="fa fa-male fa-lg"></i>
            <i class="fa fa-female fa-lg"></i>
        </h4>
        <table class="table table-striped">
            <tr>
                <td width="40%">담당자</td>
                <td width="60%">@Html.DisplayFor(model => model.Assignee)</td>
            </tr>
            <tr>
                <td>보고자</td>
                <td>@Html.DisplayFor(model => model.Reporter)</td>
            </tr>
        </table>
        <h4>
            <span class="label label-default">날짜</span>&nbsp;
            <i class="fa fa-calendar fa-lg"></i>
        </h4>
        <table class="table table-striped">
            <tr>
                <td width="40%">생성 날짜</td>
                <td width="60%">@Html.DisplayFor(model => model.CreatedTimeStamp)</td>
            </tr>
            <tr>
                <td width="40%">완료 날짜</td>
                <td width="60%">@Html.DisplayFor(model => model.CompletedTimeStamp)</td>
            </tr>
        </table>
        <h4>
            <span class="label label-default">일정관리</span>
            <i class="fa fa-clock-o fa-lg"></i>
        </h4>
        <table class="table table-striped">
            <tr>
                <td width="40%">예상 완료 기간</td>
                <td width="60%">@Html.DisplayFor(model => model.Estimate)</td>
            </tr>
        </table>
    </section>
</div>

<div class="row">

</div>

