@model Jira.Views.Dto.CreateIssueModel

<!-- 이슈 등록 Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">신규 이슈 등록</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="messageBlock">
                        <div id="successMsgBlock" class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            이슈 등록을 성공적으로 완료 하였습니다.
                        </div>
                        <div id="errorMsgBlock" class=" alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            이슈 등록을 실패 하였습니다.
                        </div>
                    </div>
                    <fieldset id="createIssueForm">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2">제목</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2">중요도</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Priority, (IEnumerable<SelectListItem>)Model.PriorityList, "선택하세요", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Fix Ver.</label>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => model.FixVersion, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2">담당자</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Owner, (IEnumerable<SelectListItem>)Model.OwnerList, "선택하세요", new { @class = "form-control" })
                                </div>
                                <label class="control-label col-md-2">예상기간</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Estimate, (IEnumerable<SelectListItem>)Model.EstimateList, "선택하세요", new { @class = "form-control" })
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2">Component</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Component, (IEnumerable<SelectListItem>)Model.ComponentList, "선택하세요", new { @class = "form-control" })
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2">내용</label>
                                <div class="col-md-10">
                                    @Html.TextArea("Description", Model.Description, new { @class = "form-control", rows = 10 })
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="registerIssueBtn"><i id="registerLoadingIcon" class="fa fa-spinner fa-pulse"></i>&nbsp;등록</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#registerIssueBtn").click(function () {
        var createIssueForm = $("#createIssueForm");
        //ajax call
        $.ajax({
            url: '@Url.Action("CreateIssue", "Home")',
            data: createIssueForm.serialize(),
            type: 'POST',
            success: function (data) {
                if (data == 1) {
                    // Show success message
                    $("#successMsgBlock").show();
                    reloadIssueTable();
                }
                else {
                    // Show error message DB Error
                    $("#errorMsgBlock").show();
                }
                hideMessageBoxAfterSecond(1500);
            },
            error: function () {
                // Show error message
                $("#errorMsgBlock").show();
                hideMessageBoxAfterSecond(1500);
            }
        });
    });

    function hideMessageBoxAfterSecond(second) {
        window.setTimeout(function () {
            $("#successMsgBlock").fadeOut();
            $("#errorMsgBlock").fadeOut();
            $("#createIssueForm").find('input:text, input:password, input:file, select, textarea').val('');
            $("#createIssueForm").find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
        }, second);
    }

    $("#successMsgBlock").hide();
    $("#errorMsgBlock").hide();
    $("#registerLoadingIcon").hide();
</script>