@model IEnumerable<Jira.Views.Dto.IssueListTableModel>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>이슈</th>
            <th>상태값</th>
            <th>중요도</th>
            <th>Fix Version</th>
            <th>담당자</th>
            <th>예상소요기간</th>
            <th>완료날짜</th>
            <th>작성자</th>
            <th>등록날짜</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><p>@Html.ActionLink("JIRA#" + @item.Id.ToString("D4"), "Edit")</p></td>
                <td><p>@item.Subject</p></td>
                <td><p>@item.Status</p></td>
                <td><p>@item.Priority</p></td>
                <td><p>@item.FixVersion</p></td>
                <td><p>@item.Assignee</p></td>
                <td><p>@item.Estimate</p></td>
                <td><p>@item.CompletedTimeStamp</p></td>
                <td><p>@item.Repoter</p></td>
                <td><p>@item.CreatedTimeStamp</p></td>
            </tr>
        }
    </tbody>
</table>
