@model Jira.Views.Dto.IssueListTableModel

@{
    ViewBag.Title = "이슈 상세 내용";
}

<style>
    .mainSection {
        float: left;
        width: 600px;
        height: 600px;
        padding: 10px;
        border: 1px dashed 
    }

    .subSection {
        margin-left: 600px;
        width: 300px;
        height: 200px;
        padding: 10px;
    }
</style>

<script>
    $(document).ready(function () {
        // Active 운영이슈 Tab
        $("#issueTableTab").addClass("active");
    });
</script>

<div class="well">
    <h2><span class="label label-info">JIRA#@Model.Id.ToString("D4")</span></h2>
    <h3>@Html.DisplayFor(model => model.Subject)</h3>
    <button type="button" class="btn btn-default">편집</button>
    <button type="button" class="btn btn-default">의견남기기</button>
    <button type="button" class="btn btn-default">담당자변경</button>
    <button type="button" class="btn btn-default">상태변경</button>
</div>

<hr />

<section class="mainSection">
    <h4><span class="label label-primary">상세 내용</span></h4>
    <table class="table table-striped">
        <tr>
            <td width="20%">상태</td>
            <td width="60%">@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <td width="20%">우선순위</td>
            <td width="60%">@Html.DisplayFor(model => model.Priority)</td>
        </tr>
        <tr>
            <td width="20%">Fix Ver</td>
            <td width="60%">@Html.DisplayFor(model => model.FixVersion)</td>
        </tr>
        <tr>
            <td width="20%">설명</td>
            <td width="60%">@Html.DisplayFor(model => model.Description)</td>
        </tr>
    </table>
</section>

<section class="subSection">
    <h4><span class="label label-primary">사람들</span></h4>
    <table class="table table-striped">
        <tr>
            <td>담당자</td>
            <td>@Html.DisplayFor(model => model.Assignee)</td>
        </tr>
        <tr>
            <td>보고자</td>
            <td>@Html.DisplayFor(model => model.Repoter)</td>
        </tr>
    </table>
</section>

<section class="subSection">
    <h4><span class="label label-primary">날짜</span></h4>
    <table class="table table-striped">
        <tr>
            <td>생성 날짜</td>
            <td>@Html.DisplayFor(model => model.CreatedTimeStamp)</td>
        </tr>
        <tr>
            <td>완료 날짜</td>
            <td>@Html.DisplayFor(model => model.CompletedTimeStamp)</td>
        </tr>
    </table>
</section>

<section class="subSection">
    <h4><span class="label label-primary">일정관리</span></h4>
    <table class="table table-striped">
        <tr>
            <td>예상 완료 기간</td>
            <td>@Html.DisplayFor(model => model.Estimate)</td>
        </tr>
    </table>
</section>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

